.container__big {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  height: 400px;
  justify-content: flex-start;
}

.big__img > img {
  min-width: 392px;
  width: 98%;
  border: 1px solid #02543e;
  box-shadow: 6px 6px 0px 0px rgba(2, 84, 62, 1);
}

.container__big > h1 > a {
  font-weight: bold;
  margin-top: 10px;
  font-size: 24px;
  color: #02543e;
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

.container__big > p {
  margin-top: 10px;
}

.container__big > p > a {
  font-size: 14px;
  margin-top: 25px;
  color: #17523f;
  font-weight: 500;
}

.big__keys {
  margin-top: 14px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.big__keys > span {
  margin-right: 8px;
  border: 2px solid #02543e;
  color: #17523f;
  font-weight: bold;
  font-size: 12px;
  padding: 0px 8px;
  border-radius: 24px;
}
