.container__big {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  height: fit-content;
  justify-content: flex-start;
  color: var(--color2);
  margin-bottom: 10px;
}

.big__img > img {
  min-width: 292px;
  width: 98%;
  border: 1px solid var(--color2);
  box-shadow: 6px 6px 0px 0px var(--color2);
}

.container__big > h1 > a {
  font-weight: bold;
  margin-top: 10px;
  font-size: 24px;
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

.container__big > p {
  margin-top: 10px;
}

.container__big > p > a {
  font-size: 14px;
  margin-top: 25px;
  font-weight: 500;
}

.big__keys {
  margin-top: 14px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.big__keys > span {
  margin-right: 8px;
  border: 2px solid var(--color2);
  font-weight: bold;
  font-size: 12px;
  padding: 0px 8px;
  border-radius: 24px;
}

@media (min-width: 390px) {
  .container__big {
    max-width: 370px;
  }
}

@media (min-width: 768px) {
  .container__big {
    max-width: 690px;
  }

  .big__img > img {
    min-height: 300px;
  }
}
@media (min-width: 1024px) {
  .container__big {
    flex-direction: column;
    margin-bottom: 0px;
    max-width: 400px;
    height: fit-content;
  }

  .big__img > img {
    min-width: 392px;
    height: 250px;
  }
}
