<div class="container__small">
  <div class="small__img">
    <img
      src="https://www.morecap.com.br/assets/images/SM-placeholder.png"
      alt="Ideias"
      height="60px"
      srcset=""
    />
  </div>
  <div class="small__other">
    <span> Lorem ipsum &#9679; 18 Jan 2023</span>
    <h1>
      <a href="#" class="small__title">Novos tecnologias</a>
    </h1>

    <p class="small__description">
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </a>
    </p>

    <div class="small__keys">
      <span>News</span>
      <span>Techs</span>
    </div>
  </div>
</div>
